h1 {
  color: rgb(246,126,90);
  font-family: Script MT, bold, cursive;
  font-size: 70px;
  margin: 1rem;
}
li1{
  font-family: Segoe UI, Semilight;
}
ul{
  font-family: Segoe UI, Semilight;
}
p{
  font-family: Segoe UI, Semilight;
}
h2{
  font-family: Segoe UI, Semilight;
}
h3{
  font-family: Segoe UI, Semilight;
}

img{
  margin: 1rem;
}

#navigation{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(148,128,156);
  font-family: Segoe UI, Semilight;
  
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: 	rgb(39, 15, 54);
}

#logo{
  width:187.5px;
  height:82.1875px;
  border:0;
}

.row-header{
  display:flex
}

.leftcolumn-header{
  flex: 10%
}

.rightcolumn-header{
  flex: 89%
}


.row{
  display: flex;
}

.leftcolumn{
  flex: 33%;
}

.middlecolumn{
  flex: 33%;
}

.rightcolumn{
  flex: 33%;
}


#whaleButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2Fwhale%20icon.png?1522119313908");
  margin-top: 2rem;
  margin-right: 1rem;
}
#catButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2Fcat%20icon.jpg?1522118963448");
  margin-top: 2rem;
  margin-right: 1rem;
}
#dogButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2FdogLogo.png?1524358849938");
  margin-top: 2rem;
  margin-right: 1rem;
}
#crabButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2FcrabButton.png?1524789990903");
  margin-top: 2rem;
  margin-right: 1rem;
}
#frogButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2FfrogButton.png?1525398064818");
  margin-top: 2rem;
}
#canvas{
  border:5px solid rgb(237,195,116); 
  margin: 2rem;
}

/* about page */
#group-photo{
  float: right; 
  position:absolute; 
  left:45rem; 
  top:15rem;   
  margin-bottom: 0.5rem; 
  width:400px;
  height:350px;
}
/* about page */
#group-photo2{
  float: right; 
  position:absolute; 
  left:45rem; 
  top:40rem; 

  width:400px;
  height:350px;
}

@media screen and (max-width: 1000){
  #group-photo{
  margin-bottom: 0.5rem; 
  width:500px;
  height:450px;
}
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(148, 128, 156);
   color: white;
   text-align: center;
}

