h1 {
  color: fuchsia;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#01FF70;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: #111;
}
div.animation{
  margin: 10px;
}
#whaleButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2Fwhale%20icon.png?1522119313908");
  position: relative;
  bottom: 300px;
  left: 10px;
}
#catButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2Fcat%20icon.jpg?1522118963448");
  position: relative;
  bottom: 300px;
  left: 20px;
}
#canvas{
  border:5px solid pink; 
}