h1 {
  color: rgb(246,126,90);
  font-family: Freestyle Script, cursive;
  font-size: 30px;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

img{
  margin: 1rem;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(148,128,156);
  font-family: verdana,geneva, sans-serif;
  
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: 	rgb(39, 15, 54);
}

#logo{
  width:80px;
  height:50px;
  border:0;
}

.row-header{
  display:flex
}

.leftcolumn-header{
  flex: 10%
}

.rightcolumn-header{
  flex: 50%
}

.row{
  display: flex;
  flex-wrap:wrap;
}

.leftcolumn{
  flex: 100%;
}

.middlecolumn{
  flex: 100%;
}

.rightcolumn{
  flex: 100%;
}

#whaleButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2Fwhale%20icon.png?1522119313908");
  margin-top: 2rem;
  margin-left: 1.5rem;
}
#catButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2Fcat%20icon.jpg?1522118963448");
  margin-top: 2rem;
}
#dogButton{
  height: 100px; 
  width: 100px;   
  background-image:url("https://cdn.glitch.com/eb06f58b-caba-43d0-b6ce-18dd6a29c210%2FdogLogo.png?1524358849938");
  margin-top: 2rem;
}
#canvas{
  border:5px solid rgb(237,195,116); 
  margin: 1rem;
  width: 320px;
  height: 320px;
}

/* about page */
#group-photo{ 
  width:320px;
  height:275px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(148, 128, 156);
   color: white;
   text-align: center;
}
